* {
	margin: 0;
	padding: 0;
}

h2{
	text-align:center;
}

.vid{
	display:flex;
	align-items:left;
	margin: 30px 450px;
	text-align:center;
}

body {
	margin: 30px;
	background-color: oldlace;
}

h2 {
	text-align: center;
	padding: 25px;
	margin: 10px;
	background-color: #d8d7bf;
}

.column {
	float:left;
	width:50%;
	padding: 50px 0px 0px;
	text-align:center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

h3, h5{
	margin:10px;
}

nav.navbar{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color:#d8d7bf;
	color:#808080;
}

.nav-links a{
	color:#808080;
	font-size:30px;
	text-align:right;
	text-decoration:none;
}

.nav-links a:hover{
	color:black;
}

div.menu{
	display:flex
	justify-content: center;
	gap:lem;
	font-size:20px;
}

div.menu li: hover{
	background-color:oldlace;
	border-radius:5px;
}

.nav-links {
	justify-content:center;
	margin-left:auto;
	margin-right:auto;
	color: #808080;
}

div.menu li a{
	/* padding: 5px 14px */
	padding-top:5px;
	padding-bottom:5px;
	padding-right:14px;
	padding-left:none;
}

a{
	font-size:20px;
	text-align: right;
	text-decoration: none;
}

